
.input-block {
    margin: 0 auto;
    width: 30vw;
}

input {
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    height: 1.5em;
    text-align: right;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
}

.cell-num {
    font-size: 1.2em;
    flex: 33%;
    height: 2em;
    border: none;
    background-color: #292d3e;
    color: #fff;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.cell-num:hover {
    background-color: #171c33b4;
}
